{% extends "bases/base.html" %}

{% block header_icons %}
<a class="button is-primary" href="{{ url_for('home') }}">
	<span class="icon">
		<i class="fas fa-home"></i>
	</span>
</a>
{% endblock header_icons %}

{% block content %}
{% include "includes/delete_subject_modal.html" %}
{% include "includes/delete_student_modal.html" %}

<article class="article">
	<section class="section">
		<div class="container">
			<div class="box">
				<h1 class="title has-text-centered">{{ student.get("name") }}</h1>
				<h2 class="subtitle has-text-centered">Class: {{ student.get("class") }}</h2>
				<br />
				{% include "includes/student_form.html" %}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="box is-scrollable">
				<table class="table is-fullwidth is-striped">
					<thead>
						<tr>
							<th>Subject</th>
							<th>F-H</th>
							<th>S-H</th>
							<th>Final</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for grade, grade_data in student.get("grades").items() %}
						<tr>
							<th>{{ grade }}</th>
							<td>{{ grade_data[0] }}</td>
							<td>{{ grade_data[1] }}</td>
							<td>{{ grade_data[2] }}</td>
							<td>
								<a href="{{ url_for('edit_subject_page', student_id=student['id'], subject_id=grade_data[3]) }}">
									<span class="icon"><i class="fas fa-pen"></i>
									</span></a>
							</td>
							<td>
								<span class="delete delete-subject-button" url-target="{{ url_for('delete_subject_page', student_id=student['id'], subject_id=grade_data[3]) }}"></span>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="{{ url_for('add_subject_page', student_id=student.get('id')) }}" class="add-student-icon has-text-primary">
					<span class="icon">
						<i class="fas fa-plus"></i>
					</span>
				</a>
			</div>
		</div>
	</section>
</article>
{% endblock content %}